.date {
  font-size: 1.5rem;
}

.inputTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 40%;
  align-self: start;
  margin-bottom: 10px;
}

textarea {
  width: 99.5%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  overflow: hidden;
  resize: none;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  z-index: 100;
}
